<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.chernogorov.repository.mapper.OrderModelMapper">

    <insert id="save" parameterType="OrderModel">
        INSERT INTO orders(number, timestamp, region_code) VALUES(#{orderModel.number}, #{orderModel.timestamp}, #{orderModel.regionCode})
    </insert>


    <select id="findById" resultMap="orderResultMap">
        SELECT * FROM orders WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="orderResultMap">
        SELECT * FROM orders
    </select>

    <resultMap id="orderResultMap" type="com.chernogorov.model.OrderModel">
        <result property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="timestamp" column="timestamp"/>
        <result property="regionCode" column="region_code"/>
    </resultMap>

</mapper>